@{
  ViewData["Title"] = "Create a Destination";
}

@model TravelClient.Models.Destination

<h4>Add a new place to the Destinations</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
 
  <br>
  <br>
  <input type="submit" value="Add new destination" class="btn btn-info"/>
}

<br>
<p>@Html.ActionLink("Back to all destinations", "Index")</p>